body {
  background-color: rgba(165, 0, 7, 0.72);
  color: white;
  margin: auto;

}

.footer {
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}


.detailAutor {
  font-size: 32px;
  text-align: center;
  color: #ac0000;
  font-weight: bold;

}
.detailFrase {
  font-size: 32px;
  text-align: center;
}

.detailAttribute {
  color: #ac0000;
  font-weight: bold;
  margin-right: 3px;
}

.detailContext {
  text-align: justify;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #bf0e0e;
  border: 0px none #ffffff;
  border-radius: 47px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c5c0c0;
}
::-webkit-scrollbar-thumb:active {
  background: #650202;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 47px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
