.yearAuthor {
    color: #ac0000;
    font-weight: bold;
}

.phraseBody {
    color: black;
    text-align: center;
}

.frasesList {
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 1%;
  padding: 8px;
  height: 1000px;
  overflow-y: scroll;
}


.frase, .fraseDragged, .fraseAnio {
  user-select: 'none';
  padding: 6px;
  word-break: break-word;
  background: white;
  text-align: center;
  border-top-color: lightgrey;
  border-top-width: thin;
  border-top-style: solid;
}

.fraseDragged {
  background: lightgrey; 
}

.fraseAnio {
  background: #f8d7da;
}

.contador {
  margin-top: 12px;
  color: #ffffff;
}

.bar {
  margin-top: 10px;
}

.page-item.active .page-link {
  background-color: #ac0000;
  border-color: #ac0000;
}

.page-item.{
  background-color: #ac0000;
  border-color: #ac0000;
}

.page-item {
  cursor: pointer;
}

.page-link {
  color: #ac0000;
}

.filters {
  display: inline-block;
  margin-right: 0.4%;
}

.frasePopover {
  text-align: center;
  color: black;
}

.actionButton {
  margin-left: 6px;
}

.troloModal {
  color: black;
  text-align: justify;
}