.yearAuthor {
    color: #ac0000;
    font-weight: bold;
}

.phraseBody {
    color: black;
    text-align: center;
}

.frasesList {
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 1%;
  padding: 8px;
  height: 1000px;
  overflow-y: scroll;
}


.frase, .fraseDragged, .fraseAnio {
  user-select: 'none';
  padding: 6px;
  word-break: break-word;
  background: white;
  text-align: center;
  border-top-color: lightgrey;
  border-top-width: thin;
  border-top-style: solid;
}

.fraseDragged {
  background: lightgrey; 
}

.fraseAnio {
  background: #f8d7da;
}