.groupStage {
  margin-top: 15px;
}

.group {
  color: black;
  text-align: center;
  margin-bottom: 28px;
}

.groupFrase, .groupFraseSelected {
  user-select: 'none';
  padding: 6px;
  word-break: break-word;
  background-color: #bdae002b;
}

.groupFraseSelected {
  background-color: #00bd2b2b;
}

.voteButton {
  margin-top: 10px;
}

.fraseDetailModal {
  color: black;
  text-align: justify;
  font-size: 20px;
}

.confirmVoteModal {
  color: black;
  text-align: center;
  font-size: 20px;
}
